<div style="background:white; overflow:hidden;" #pdcWrapper>
  <ion-list>

    <ion-item-divider color="light" (auxclick)="select(null)">
      Public Domain Characters (+)
      <ion-icon name="close-circle" (click)="finish()" color="faded" item-start></ion-icon>
      <ion-icon name="git-compare" (click)="data.sortPDCs()" color="faded" item-end></ion-icon>
      <ion-icon name="add" (click)="editMode=!editMode" color="faded" item-end></ion-icon>
      <ion-icon name="reorder" (click)="reorderMode=!reorderMode" color="faded" item-end></ion-icon>
    </ion-item-divider>

    <ion-item-group [reorder]="reorderMode">

      <div class="pdc-list-item" *ngFor="let pdc of chars; let i = index" (click)="select(pdc)">
        <ion-item [class.gray]="data.anyCardHasPDC(pdc)" [class.selected]="isSelected(pdc)" text-wrap>
          <ion-icon *ngIf="editMode" name="arrow-up" (click)="data.createPDC(pdc.origin,i); stop($event)" color="faded" item-start></ion-icon>
          <ion-icon *ngIf="editMode" name="arrow-down" (click)="data.createPDC(pdc.origin,i+1); stop($event)" color="faded" item-start></ion-icon>
          <ion-input type="text"[(ngModel)]="pdc.origin" class="origin"></ion-input>
          <ion-input type="text"[(ngModel)]="pdc.name" class="name"></ion-input>
          <ion-icon *ngIf="!isExpanded(pdc)" [name]="'radio-button-'+(hasStuff(pdc)?'on':'off')" (click)="expand(pdc);" color="faded" item-end></ion-icon>
          <ion-icon *ngIf="isExpanded(pdc)" name="close" (click)="expand(pdc); stop($event)" color="faded" item-end></ion-icon>
        </ion-item>

        <div *ngIf="isExpanded(pdc)" class="xp">
          <ion-textarea placeholder="notes (character)" [(ngModel)]="pdc.notes_character"></ion-textarea>
          <ion-textarea placeholder="notes (card stats)" [(ngModel)]="pdc.notes_cardstats"></ion-textarea>
          <ion-textarea placeholder="faction etc." [(ngModel)]="pdc.faction"></ion-textarea>
          <p class="guid">{{pdc.guid}}</p>
        </div>

      </div>

    </ion-item-group>
    
  </ion-list>
</div>
