<div style="background:white; overflow:hidden;" #pdcWrapper>
  <ion-list>
    <ion-item-group>
      <!-- <ion-item-divider color="light">Public Domain Characters</ion-item-divider> -->
      <!-- <div class="pdc-list-item" *ngFor="let pdc of chars; let i = index"> -->
      <div class="pdc-list-item" *ngFor="let pdc of chars; let i = index" (click)="select(pdc)">
        <ion-item [class.gray]="data.anyCardHasPDC(pdc)" [class.selected]="isSelected(pdc)" text-wrap>
          <ion-icon name="arrow-up" (click)="data.createPDC(pdc.origin,i); stop($event)" color="faded" item-start></ion-icon>
          <ion-icon name="arrow-down" (click)="data.createPDC(pdc.origin,i+1); stop($event)" color="faded" item-start></ion-icon>
          <ion-input type="text"[(ngModel)]="pdc.origin" class="origin"></ion-input>
          <ion-input type="text"[(ngModel)]="pdc.name" class="name"></ion-input>
          <!-- <ion-icon name="arrow-forward" (click)="select(pdc)" color="faded" item-end></ion-icon> -->
          <ion-icon *ngIf="!isExpanded(pdc)&&hasStuff(pdc)" name="radio-button-on" (click)="expand(pdc);" color="faded" item-end></ion-icon>
          <ion-icon *ngIf="!isExpanded(pdc)&&!hasStuff(pdc)" name="radio-button-off" (click)="expand(pdc);" color="faded" item-end></ion-icon>
          <ion-icon *ngIf="isExpanded(pdc)" name="close" (click)="expand(pdc); stop($event)" color="faded" item-end></ion-icon>
        </ion-item>

        <div *ngIf="isExpanded(pdc)">
          <ion-textarea placeholder="notes (character)" [(ngModel)]="pdc.notes_character"></ion-textarea>
          <ion-textarea placeholder="notes (card stats)" [(ngModel)]="pdc.notes_cardstats"></ion-textarea>
          <ion-textarea placeholder="faction etc." [(ngModel)]="pdc.faction"></ion-textarea>
          <p class="guid">{{pdc.guid}}</p>
        </div>
      </div>
    </ion-item-group>
  </ion-list>
</div>
