<ion-header>
  <ion-navbar color="primary">

    <!-- <button ion-button menuToggle end>
      <ion-icon name="menu"></ion-icon>
    </button> -->

    <ion-grid grid-padding-width="1px">
      <ion-row class="filters">
        <ion-col no-padding *ngFor="let bundle of bundles">
          <button 
            color="light"
            class="page-button"
            [class.selected]="bundle==selectedBundle" 
            (click)="selectBundle(bundle)"
            ion-button [clear]="bundle!=selectedBundle"  full round>
            {{ bundle.name }}
          </button>
        </ion-col>
        <ion-col no-padding>
          <button color="light" class="page-button" (click)="data.save()" ion-button clear full round>
            <ion-icon name="cloud"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-navbar>
</ion-header>

<ion-content no-scroll>

  <ion-fab bottom right #fabMode>
    <button ion-fab large><ion-icon [name]="mode.icon"></ion-icon></button>
    <ion-fab-list side="left">
      <button ion-fab (click)="setMode(Mode.Edit);fabMode.close()"><ion-icon name="{{Mode.Edit.icon}}"></ion-icon></button>
      <button ion-fab (click)="setMode(Mode.Move);fabMode.close()"><ion-icon name="{{Mode.Move.icon}}"></ion-icon></button>
      <button ion-fab (click)="setMode(Mode.PDCs);fabMode.close()"><ion-icon name="{{Mode.PDCs.icon}}"></ion-icon></button>
      <button ion-fab (click)="setMode(Mode.Quik);fabMode.close()"><ion-icon name="{{Mode.Quik.icon}}"></ion-icon></button>
      <button ion-fab (click)="setMode(Mode.View);fabMode.close()"><ion-icon name="{{Mode.View.icon}}"></ion-icon></button>
    </ion-fab-list>
    <ion-fab-list side="top">
      <button ion-fab (click)="showPrettyName=!showPrettyName;fabMode.close()"><ion-icon name="glasses"></ion-icon></button>
      <button ion-fab (click)="showPrettyName=!showPrettyName;fabMode.close()"><ion-icon name="contacts"></ion-icon></button>
      <button ion-fab (click)="data.save();fabMode.close()"><ion-icon name="cloud-upload"></ion-icon></button>
      <button ion-fab (click)="data.load();fabMode.close()"><ion-icon name="cloud-download"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab bottom left #fabZoom>
    <button ion-fab large><ion-icon name="search"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab (click)="zoom=1.00;fabZoom.close();">100%</button>
      <button ion-fab (click)="zoom=0.75;fabZoom.close();">75%</button>
      <button ion-fab (click)="zoom=0.50;fabZoom.close();">50%</button>
      <button ion-fab (click)="zoom=0.25;fabZoom.close();">25%</button>
    </ion-fab-list>
  </ion-fab>

  <div *ngIf="mode==Mode.PDCs" style="width:33%; height:100%; top:0; left:0; position:absolute; overflow:auto; margin:0; padding:0;">
    <div style="max-height:100%; overflow:auto; margin:0; padding:0;">
      <pdc-list #pdcList></pdc-list>
    </div>
  </div>

  <div #lescroll id="lescroll" 
        [style.width]="mode==Mode.PDCs?'67%':'100%'"
        [style.zoom]="zoom"
        [class]="'mode-'+mode.name" 
        >

    <div style.width="{{cardXFactor*cardColumnsCount+2*marginX}}px"
          style.height="{{cardYFactor*cardRowsCount+marginY+minCardHeight}}px"
          style="overflow:hidden;">

          <div *ngFor="let cv of cardViews" 
                (click)="onClick(cv)"
                (dblclick)="onDoubleClick(cv)"
                style.width="{{cardWidth}}px"
                style.height="{{cardHeight}}px"
                style.left="{{getX(cv.index)}}px"
                style.top="{{getY(cv.index)}}px"
                [class.selected]="isSelected(cv)"
                class="lecard {{getColorClass(cv)}} {{hasData(cv)?'non-empty':'empty'}}">
            <div *ngIf="hasData(cv) && mode != Mode.Quik">
              <ion-badge class="id" *ngIf="mode.show.indexOf('id')>=0" mode="ios" style="position:absolute; right:5px; top:-5px;" color="light">{{cv.model.ID}}</ion-badge>
              <div class="slug" *ngIf="mode!=Mode.View"><b>{{cv.model.properties.slug}}</b></div>
              <div class="slug" *ngIf="mode==Mode.View" [style.opacity]="cv.model.PDC?1:.25">{{cv.model.prettyName}}</div>
              <div class="description">{{cv.model.prettyDescription}}</div>
              <div class="power"      *ngIf="!cv.model.isTrap">{{cv.model.prettyPower}}</div>
              <div class="priority"   *ngIf="mode.show.indexOf('priority')>=0">{{getPriority(cv)}}</div>
              <div class="rarity"     *ngIf="mode.show.indexOf('rarity')>=0">{{getRarity(cv)}}</div>
              <div class="dev-status" *ngIf="mode.show.indexOf('status')>=0" [style.background]="cv.model.prettyStatusColor">{{cv.model.prettyStatus}}</div>
              <div class="name" *ngIf="mode==Mode.PDCs&&cv.model.PDC">{{cv.model.PDC.name}}</div>
            </div>
            <div *ngIf="hasData(cv) && mode == Mode.Quik">
              <ion-input type="text" [(ngModel)]="cv.model.properties.slug" class="slug" (change)="onQuickChangeSlug(cv)"></ion-input>
              <textarea type="text"  [(ngModel)]="cv.model.properties.description" class="description" (change)="onQuickChangeDescription(cv)"></textarea>
              <div class="power"      *ngIf="!cv.model.isTrap">{{cv.model.prettyPower}}</div>
              <div class="dev-status" *ngIf="mode.show.indexOf('status')>=0" [style.background]="cv.model.prettyStatusColor">{{cv.model.prettyStatus}}</div>
              <div class="name" *ngIf="mode==Mode.PDCs&&cv.model.PDC">{{cv.model.PDC.name}}</div>
            </div>
            <div *ngIf="getSupposedCardID(cv)==0" style="width:100%;height:100%;text-align:center;"><b>N/A</b></div>
          </div>
    </div>
  
  </div> 

</ion-content>

