<ion-header>
  <ion-navbar>

    <button ion-button menuToggle end>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-grid grid-padding-width="1px">
      <ion-row class="filters">
        <ion-col no-padding *ngFor="let segment of segments">
              <button 
                class="page-button"
                [class.selected]="segment==selectedSegment" 
                (click)="selectFilter(segment)"
                ion-button clear full round>
                {{ segment.name }}
              </button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-navbar>
</ion-header>

<ion-content>

    <ion-scroll scrollX="true" scrollY="true" style="width: 100%; height: 100%; background: #789;">
        <div *ngFor="let card of cardViews" 
              style.width="{{cardWidth}}px"
              style.height="{{cardHeight}}px"
              style.left="{{getX(card.index)}}px"
              style.top="{{getY(card.index)}}px"
              [style.opacity]="card.data==null?0.5:1.0"
              class="lecard {{getColorClass(card)}}">
          <div *ngIf="card.data!=null">
            <ion-input [(ngModel)]="card.data.slug" class="slug"></ion-input>
            <!-- <ion-input [(ngModel)]="card.data.name" class="name"></ion-input> -->
            <textarea class="description">{{card.data.description}}</textarea>
          </div>
        </div>
        <div style.width="{{cardXFactor*cardColumnsCount+2}}px"
             style.height]="{{cardYFactor*cardRowsCount+200}}px"
            >.</div>
    </ion-scroll>
    
</ion-content>
