<ion-header>
  <ion-navbar>

    <button ion-button menuToggle end>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-grid grid-padding-width="1px">
      <ion-row class="filters">
        <ion-col no-padding *ngFor="let bundle of bundles">
          <button 
            class="page-button"
            [class.selected]="bundle==selectedBundle" 
            (click)="selectBundle(bundle)"
            ion-button clear full round>
            {{ bundle.name }}
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-navbar>
</ion-header>

<ion-content no-scroll>

    <ion-fab bottom right #fabMode>
      <button ion-fab large><ion-icon [name]="getModeIcon(mode)"></ion-icon></button>
      <ion-fab-list side="left">
        <button ion-fab (click)="onModeFab(0,fabMode)"><ion-icon name="{{getModeIcon(0)}}"></ion-icon></button>
        <button ion-fab (click)="onModeFab(1,fabMode)"><ion-icon name="{{getModeIcon(1)}}"></ion-icon></button>
        <button ion-fab (click)="onModeFab(2,fabMode)"><ion-icon name="{{getModeIcon(2)}}"></ion-icon></button>
      </ion-fab-list>
    </ion-fab>
  
    <ion-scroll id="lescroll" [class]="'mode-'+mode" zooming="true" direction="xy" scrollX="true" scrollY="true">

        <div *ngFor="let card of cardViews" 
              (click)="onSelect(card)"
              style.width="{{cardWidth}}px"
              style.height="{{cardHeight}}px"
              style.left="{{getX(card.index)}}px"
              style.top="{{getY(card.index)}}px"
              [class.selected]="isSelected(card)"
              class="lecard {{getColorClass(card)}} {{hasData(card)?'non-empty':'empty'}}">
          <div *ngIf="hasData(card)">
            <!-- <ion-input [(ngModel)]="card.data.slug" class="slug"></ion-input> -->
            <!-- <ion-input [(ngModel)]="card.data.name" class="name"></ion-input> -->
            <div class="id" *ngIf="mode==1">{{card.data.id}}</div>
            <div class="slug">{{card.data.slug}}</div>
            <div class="description">{{card.data.description}}</div>
            <div class="power" *ngIf="!card.data.isTrap">{{card.data.power}}</div>
            <div class="priority" *ngIf="mode!=2">{{getPriority(card)}}</div>
            <div class="rarity" *ngIf="mode==2">{{getRarity(card)}}</div>
            <div class="dev-status" *ngIf="mode!=2" [style.background]="card.data.prettyStatusColor">{{card.data.prettyStatus}}</div>
          </div>
        </div>

        <div style.width="{{cardXFactor*cardColumnsCount+2}}px"
             style.height="{{cardYFactor*cardRowsCount+200}}px">.</div>

    </ion-scroll>

</ion-content>

