<div style="background:white; overflow:hidden;" #pdcWrapper>
    <ion-list no-lines>
      <ion-item-group *ngIf="!selectedDeck" no-lines>
        <ion-item-divider color="light" (auxclick)="select(null)">
          <ion-icon name="list" item-start></ion-icon>
          Dev-Decks
          <ion-icon name="close-circle" (click)="finish()" color="faded" item-end></ion-icon>
        </ion-item-divider>
        <div class="pdc-list-item" *ngFor="let deck of decks; let i = index" (dblclick)="select(deck)" (auxclick)="move(i,-i)">
          <ion-item text-wrap>
            <ion-icon name="arrow-dropright" (click)="select(deck); stop($event)" color="faded" item-start></ion-icon>
            <ion-input type="text"[(ngModel)]="deck.name" class="name" [class.bold]="deck.slugs.length>0"></ion-input>
            <ion-icon name="arrow-up" (click)="move(i,-1); stop($event)" color="faded" item-end *ngIf="i>0"></ion-icon>
            <ion-icon name="arrow-down" (click)="move(i,1); stop($event)" color="faded" item-end *ngIf="i<decks.length-1"></ion-icon>
            <!-- <ion-icon *ngIf="isExpanded(pdc)" name="close" (click)="expand(pdc); stop($event)" color="faded" item-end></ion-icon> -->
          </ion-item>
        </div>
      </ion-item-group>
      <ion-item-group *ngIf="selectedDeck" class="cards">
        <ion-item-divider color="light" (auxclick)="select(null)" (dblclick)="select(null)">
          <ion-icon name="list" item-start></ion-icon>
          Dev-Decks \\ {{selectedDeck.name}}
          <ion-icon name="return-left" (click)="select(null); stop($event)" color="faded" item-end></ion-icon>
        </ion-item-divider>
        <div class="pdc-list-item" *ngFor="let slug of selectedDeck.slugs; let i = index;" (auxclick)="remove(i)">
          <ion-item text-wrap>
            {{slug}} ({{data.findCardBySlug(slug).power}})
            <ion-icon name="arrow-up" (click)="move(i,-1); stop($event)" color="faded" item-end *ngIf="i>0"></ion-icon>
            <ion-icon name="arrow-down" (click)="move(i,1); stop($event)" color="faded" item-end *ngIf="i<selectedDeck.slugs.length-1"></ion-icon>
            <ion-icon name="close" (click)="remove(i); stop($event)" color="faded" item-start></ion-icon>
          </ion-item>
        </div>
      </ion-item-group>
    </ion-list>
  </div>
  