<div style="background:white; overflow:hidden;" #pdcWrapper>

  <ion-list no-lines *ngIf="!selectedDeck">
    <ion-list-header color="light" (auxclick)="selectDeck(null)">
      Dev-Decks
      <ion-icon name="close-circle" (click)="finish()" color="faded" item-start></ion-icon>
      <ion-icon name="reorder" (click)="reorderMode=!reorderMode" color="faded" item-end></ion-icon>
    </ion-list-header>
    <ion-item-group class="decks" [reorder]="reorderMode" no-lines (ionItemReorder)="reorderDecks($event)">
      <div class="deck-list-item" *ngFor="let deck of decks; let i = index" (dblclick)="selectDeck(deck)" (auxclick)="move(i,-i)">
        <ion-item text-wrap>
          <ion-input type="text"[(ngModel)]="deck.name" class="name" [class.bold]="deck.slugs.length>0"></ion-input>
          <!-- <ion-icon *ngIf="isExpanded(pdc)" name="close" (click)="expand(pdc); stop($event)" color="faded" item-end></ion-icon> -->
        </ion-item>
      </div>
    </ion-item-group>
  </ion-list>
  
  <ion-list no-lines *ngIf="selectedDeck">
    <ion-list-header color="light" (auxclick)="selectDeck(null)" (dblclick)="selectDeck(null)">
      Dev-Decks \\ {{selectedDeck.name}}
      <ion-icon name="arrow-round-back" (click)="selectDeck(null); stop($event)" color="faded" item-start></ion-icon>
      <ion-icon name="reorder" (click)="reorderMode=!reorderMode" color="faded" item-end></ion-icon>
    </ion-list-header>
    <ion-item-group class="cards" [reorder]="reorderMode" (ionItemReorder)="reorderCards($event)">
      <div class="card-list-item {{pretty.getColorClass(data.findCardBySlug(slug))}}" 
            *ngFor="let slug of selectedDeck.slugs; let i = index;" 
            (auxclick)="remove(i)">
        <ion-item text-wrap>
          {{slug}} ({{data.findCardBySlug(slug) ? data.findCardBySlug(slug).properties.power : "?"}})
          <ion-icon *ngIf="!reorderMode" name="close" (click)="remove(i); stop($event)" color="faded" item-end></ion-icon>
        </ion-item>
      </div>
    </ion-item-group>
  </ion-list>

</div>
  
