deck-list {
    .bold
    {
        font-weight: bolder;
    }

    .item-md ion-icon[item-left] + .item-inner, .item-md ion-icon[item-left] + .item-input, .item-md ion-icon[item-start] + .item-inner, .item-md ion-icon[item-start] + .item-input {
        margin-left: 0;
    }

    .list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child, .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {
        border-bottom: #e4e4e4 1px solid;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .item-md {
        padding-left: 0;
        padding-right: 0;
    }
    .item-block {
        min-height: 0px;
    }

    .item-md ion-icon[item-left], .item-md ion-icon[item-right], .item-md ion-icon[item-start], .item-md ion-icon[item-end] {
        margin: 0;
        margin-right: 6px;
    }
    .text-input-md, .label-md {
        margin: 4px 0px;
        padding: 1px;
    }
    .item-divider .input-wrapper {
        margin: 8px 0px;
    }

    

    .card-list-item {
        border-bottom: rgba(0,0,0,.33) 1px solid;
        .label {
            font-weight: bold;
        }
    }
    .card-list-item.sneak  .item { background : linear-gradient(to left, #FFF, #EA4 ) }
    .card-list-item.normal .item { background : linear-gradient(to left, #FFF, #EC8 ) }
    .card-list-item.grand  .item { background : linear-gradient(to left, #FFF, #EED ) }
    .card-list-item.trap   .item { background : linear-gradient(to left, #FFF, #ECE ) }
}
