page-card-view {

    .item {
      min-height: 32px;
    }

    .hidable 
    {
        transition: max-height .35s, opacity .25s; 
        max-height: 256px; 
        opacity: 1.0;
        margin: 0px;
        padding: 0px;
    }
    .hidden 
    {
        max-height:0px !important;
        overflow:hidden;
        opacity: 0.0;
    }
    .faded 
    {
        opacity: 0.125;
    }

    .scroll-content
    {
        overflow: auto;
    }

    .pad
    {
        background : white;
        transition: background-color .4s;
    }
    .pad.sneak  { background : #EA4 }
    .pad.normal { background : #EC8 }
    .pad.grand  { background : #EED }
    .pad.trap   { background : #ECE }
     
    input.text-input.text-input-md {
        margin: 0px 0px;
        height: 48px;
        width: 100%;
        font-size: 32px;
        background: rgba(255,255,255,.125);
        padding: 4px;
        text-align: center;
    }
    input.text-input.text-input-md:hover {
        outline: 1px solid orange;
    }

    textarea {
        background: rgba(255,255,255,.25) !important;
        height: 200px  !important;
        width: 100% !important;
        margin: 0px !important;
        // font-size: 32px;
        padding: 6px !important;
    }

    .status-button
    {
        text-transform: uppercase;
        // font-weight: bold;
    }

    .item.status-label
    {
        text-align: center;
        margin:0px;
        padding:0px;
        color: black;

        .item-inner
        {
            margin: 0px;
            padding:0px;
            border: none;
        }

        .label
        {
            margin:0px;
            padding:0px;
        }
    }

    .status-options .item.status-label
    {
        border: 1px solid rgba(0,0,0,.2);
        font-size: 12px;
        height: 48px;
    }

    .power-fab .fab .button-inner
    {
        font-size: 32px;
        font-weight: bolder;
        color: #975;
    }
}
